---
export const prerender = false;
const { id } = Astro.params;

import "/src/styles/global.css";
import Nav from "../../components/Nav.astro";
import LayoutAgendar from "../../layouts/LayoutAgendar.astro";
---

<LayoutAgendar>
    <Nav />
    <br />

    <div class="text-center">
        <h1 class="text-5xl uppercase font-bold text-[#ff5a5f]">Agendar</h1>
    </div>
    <div
        class="flex items-center justify-center min-h-[60vh] bg-[#ffeceda2] p-4"
    ><form id="citaForm" class="bg-white shadow-lg rounded-xl p-2 w-full max-w-md space-y-4">
        <h2 class="text-2xl font-bold text-gray-800 mb-4 text-center">
            Agendar Cita
        </h2>
    
        <div>
            <label for="nombre" class="block text-gray-600 text-sm font-medium">Nombre</label>
            <h1 id="nombre" class="text-lg font-semibold text-gray-800">
             -
            </h1>
        </div>
    
        <div>
            <label for="apellido" class="block text-gray-600 text-sm font-medium">Apellido</label>
            <h1 id="apellido" class="text-lg font-semibold text-gray-800">
               -
            </h1>
        </div>
    
        <div>
            <label for="telefono" class="block text-gray-600 text-sm font-medium">Teléfono</label>
            <h1 id="telefono" class="text-lg font-semibold text-gray-800">
              -
            </h1>
        </div>
        
        <div>
            <label for="negocio" class="block text-gray-600 text-sm font-medium">NEGOCIO </label>
            <h1 id="negocio" class="text-sm font-semibold text-gray-800 break-words">
                -
            </h1>
        </div>

        <div>
            <label for="dias" class="block text-gray-600 text-sm font-medium">Dias de atencion del servicio </label>
            <h1 id="dias" class="text-sm font-semibold text-gray-800 break-words">
                -
            </h1>
        </div>

        <div>
            <label for="telefono_negocio" class="block text-gray-600 text-sm font-medium">telefono negocio </label>
            <h1 id="telefono_negocio" class="text-sm font-semibold text-gray-800 break-words">
                -
            </h1>
        </div>
    
        <div>
            <label for="fecha" class="block text-gray-600 text-sm font-medium">Fecha</label>
            <input
                type="date"
                id="fecha"
                class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
            />
        </div>
        <div id="horas" class="grid grid-cols-4 gap-4"></div>
    
        <!-- input hidden para enviar la hora seleccionada -->
        <input type="hidden" id="hora" name="hora" />
    
        <div>
            <label for="mensaje" class="block text-gray-600 text-sm font-medium">Mensaje</label>
            <textarea
                id="mensaje"
                maxlength="100"
                rows="4"
                class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
            ></textarea>
            <div class="text-right text-xs text-gray-500">
                <span id="contador-mensaje">100</span> caracteres restantes
            </div>
        </div>
    
        <button
            type="submit"
            class="w-full bg-[#ff5a5f] text-white font-semibold py-2 px-4 rounded-lg transition-colors duration-200"
        >
            Enviar
        </button>
    </form>
    </div>
    <div class="flex justify-center">
        <button class="px-4 py-2 uppercase" id="volver">Volver</button>
    </div>
    <!-- ID -->
    <div >
        <h1 id="idservicio" class="hidden" data-id={id}>ID Establecimiento:</h1>
        <h2 id="id"></h2>
    </div>
<!-- correo -->
    <div >
        <h1 id="correo" class="hidden"></h1>
    </div>
    <!-- direccion -->
    <div >
        <h1 id="direccion" class="hidden"></h1>
    </div>


    <!-- GSAP -->

</LayoutAgendar>
<script src="../../utils/idJs.js"></script>

