@import "tailwindcss";

@theme {
    --font-sans: "MomoTrustDisplay", "sans-serif";
    --font-sans-italic: "SortsMillGoudy-Italic", "sans-serif";
}

@font-face {
    font-family: "MomoTrustDisplay";
    src: url("/src/assets/Fonts/MomoTrustDisplay-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SortsMillGoudy-Italic";
    src: url("/src/assets/Fonts/SortsMillGoudy-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}