---

---
<div class="text-center my-8">
  <h1 class="text-5xl font-bold text-gray-800">CITAS AGENDADAS</h1>
</div>

<!--- CITAS AGENDADAS -->
<div id="contenedor-citas" class="flex flex-wrap justify-center gap-6 px-4 mb-8 "></div>

<br>

<!-- Título -->
<div class="text-center my-8">
  <h1 class="text-5xl font-bold text-gray-800">SERVICIOS DISPONIBLES</h1>
</div>


<!-- Contenedor de tarjetas -->
<div id="contenedor-servicios" class="flex flex-wrap justify-center gap-6 px-4"></div>


  <script src="../utils/BodyPrinClienteJs.js"></script>
   



