<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		
		<meta name="generator" content={Astro.generator} />
		<title>MENU NEGOCIO</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	html,
	body {
		margin: 5px;
		min-height: 100vh;
		overflow-x: hidden;
		overscroll-behavior: none;
		background: #ffffff;
		background: linear-gradient(
			181deg,
			rgba(255, 255, 255, 1) 0%,
			rgba(254, 246, 246, 1) 100%
		)!important;
	}

	button {
		font-family: "Poppins";
		transition: all 0.3s ease;
		font-size: x-large;
	}
	button:hover {
		background-color: #ff5a5f;
		border-radius: 10px;
		color: #ffffff;
	}

	#Ptext{
		font-family: "Poppins";
		font-weight: bold;
		font-style: italic;
		
		
	}
	h1{
		color: #ff5a5f;
		font-family: "Poppins";
		font-weight: bold;
		font-style: italic;
	}
	p{
		font-family: "Roboto-Regular";
		
		text-align: justify;	
	}
	@media (max-width: 400px) {
		button {
			font-size: medium;
		}
	}

	@font-face {
		font-family: "Poppins";
		src: url("../assets/fonts/Poppins-BoldItalic.woff2") format("woff2");
		font-weight: bold;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: "Roboto-Regular";
		src: url("../assets/fonts/Roboto-Regular.woff2") format("woff2");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
</style>
